html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}

img {
	width: 100%;
}
html {
	font-family: sans-serif;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

@keyframes scale{
	0% {
		transform: scale(0.8);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(0.8);
	}
	
}

@keyframes shake {
	10%,30%{
		transform: rotate(30deg);
	}
	20%,40%{
		transform: rotate(0);
	}
  }

.prev,.next{
	box-shadow: 1px 1px 4px rgb(0 0 0 / 0.4);
	position: absolute;
	top : 52%;
	background-color: white;
	border-radius: 100%;
	padding: 20px;
	z-index: 1;
	
}

.prev.disabled,
.next.disabled {
	opacity: 0.5;
	cursor: pointer;
}
.next:hover:not(.disabled),
.prev:hover:not(.disabled){
	outline: none;
	box-shadow: 0 0 5px 0 #f65e3980;
	color:  #f65e39 ;
	cursor: pointer;
}
.prev {
	left:  -25px ;
}
.next {
	right:  -25px ;
}

.list__wrapper{
	overflow: hidden;
}

@keyframes show {
	from{opacity: 0;}
	to{opacity: 1;}
}

.show {
	animation: show 1.5s ;
	transition: show 1.5s ease-in-out;
}
